## 1. The oldest business in the world
<p><img src="https://assets.datacamp.com/production/repositories/5851/datasets/7dded924c6dc418d4a828f2f4daba99953c27a5a/400px-Eingang_zum_St._Peter_Stiftskeller.jpg" alt="The entrance to St. Peter Stiftskeller, a restaurant in Saltzburg, Austria. The sign over the entrance shows &quot;803&quot; - the year the business opened."></p>
<p><em>Image: St. Peter Stiftskeller, founded 803. Credit: <a href="https://commons.wikimedia.org/wiki/File:Eingang_zum_St._Peter_Stiftskeller.jpg">Pakeha</a>.</em></p>
<p>An important part of business is planning for the future and ensuring that the company survives changing market conditions. Some businesses do this really well and last for hundreds of years.</p>
<p>BusinessFinancing.co.uk <a href="https://businessfinancing.co.uk/the-oldest-company-in-almost-every-country">researched</a> the oldest company that is still in business in (almost) every country and compiled the results into a dataset. In this project, you'll explore that dataset to see what they found.</p>
<p>The database contains three tables.</p>
<h3 id="categories"><code>categories</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category</code></td>
<td>varchar</td>
<td>Description of the business category.</td>
</tr>
</tbody>
</table>
<h3 id="countries"><code>countries</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>varchar</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country</code></td>
<td>varchar</td>
<td>Name of the country.</td>
</tr>
<tr>
<td style="text-align:left;"><code>continent</code></td>
<td>varchar</td>
<td>Name of the continent that the country exists in.</td>
</tr>
</tbody>
</table>
<h3 id="businesses"><code>businesses</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>business</code></td>
<td>varchar</td>
<td>Name of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>year_founded</code></td>
<td>int</td>
<td>Year the business was founded.</td>
</tr>
<tr>
<td style="text-align:left;"><code>category_code</code></td>
<td>varchar</td>
<td>Code for the category of the business.</td>
</tr>
<tr>
<td style="text-align:left;"><code>country_code</code></td>
<td>char</td>
<td>ISO 3166-1 3-letter country code.</td>
</tr>
</tbody>
</table>
<p>Let's begin by looking at the range of the founding years throughout the world.</p>

In [2]:
%load_ext sql
%sql postgresql://postgres:postgres@localhost:5432/SQL_Projects

In [4]:
%%sql
SELECT *
FROM countries

 * postgresql://postgres:***@localhost:5432/SQL_Projects
195 rows affected.

[('AFG', 'Afghanistan', 'Asia'),
 ('AGO', 'Angola', 'Africa'),
 ('ALB', 'Albania', 'Europe'),
 ('AND', 'Andorra', 'Europe'),
 ('ARE', 'United Arab Emirates', 'Asia'),
 ('ARG', 'Argentina', 'South America'),
 ('ARM', 'Armenia', 'Asia'),
 ('ATG', 'Antigua and Barbuda', 'North America'),
 ('AUS', 'Australia', 'Oceania'),
 ('AUT', 'Austria', 'Europe'),
 ('AZE', 'Azerbaijan', 'Asia'),
 ('BDI', 'Burundi', 'Africa'),
 ('BEL', 'Belgium', 'Europe'),
 ('BEN', 'Benin', 'Africa'),
 ('BFA', 'Burkina Faso', 'Africa'),
 ('BGD', 'Bangladesh', 'Asia'),
 ('BGR', 'Bulgaria', 'Europe'),
 ('BHR', 'Bahrain', 'Asia'),
 ('BHS', 'Bahamas', 'North America'),
 ('BIH', 'Bosnia and Herzegovina', 'Europe'),
 ('BLR', 'Belarus', 'Europe'),
 ('BLZ', 'Belize', 'North America'),
 ('BOL', 'Bolivia, Plurinational State of', 'South America'),
 ('BRA', 'Brazil', 'South America'),
 ('BRB', 'Barbados', 'North America'),
 ('BRN', 'Brunei Darussalam', 'Asia'),
 ('BTN', 'Bhutan', 'Asia'),
 ('BWA', 'Botswana', 'Africa'),
 ('CAF', 'Central African Republic', 'Africa'),
 ('CAN', 'Canada', 'North America'),
 ('CHE', 'Switzerland', 'Europe'),
 ('CHL', 'Chile', 'South America'),
 ('CHN', 'China', 'Asia'),
 ('CIV', "Côte d'Ivoire", 'Africa'),
 ('CMR', 'Cameroon', 'Africa'),
 ('COD', 'Congo, The Democratic Republic of the', 'Africa'),
 ('COG', 'Congo', 'Africa'),
 ('COL', 'Colombia', 'South America'),
 ('COM', 'Comoros', 'Africa'),
 ('CPV', 'Cabo Verde', 'Africa'),
 ('CRI', 'Costa Rica', 'North America'),
 ('CUB', 'Cuba', 'North America'),
 ('CYP', 'Cyprus', 'Europe'),
 ('CZE', 'Czechia', 'Europe'),
 ('DEU', 'Germany', 'Europe'),
 ('DJI', 'Djibouti', 'Africa'),
 ('DMA', 'Dominica', 'North America'),
 ('DNK', 'Denmark', 'Europe'),
 ('DOM', 'Dominican Republic', 'North America'),
 ('DZA', 'Algeria', 'Africa'),
 ('ECU', 'Ecuador', 'South America'),
 ('EGY', 'Egypt', 'Africa'),
 ('ERI', 'Eritrea', 'Africa'),
 ('ESP', 'Spain', 'Europe'),
 ('EST', 'Estonia', 'Europe'),
 ('ETH', 'Ethiopia', 'Africa'),
 ('FIN', 'Finland', 'Europe'),
 ('FJI', 'Fiji', 'Oceania'),
 ('FRA', 'France', 'Europe'),
 ('FSM', 'Micronesia, Federated States of', 'Oceania'),
 ('GAB', 'Gabon', 'Africa'),
 ('GBR', 'United Kingdom', 'Europe'),
 ('GEO', 'Georgia', 'Asia'),
 ('GHA', 'Ghana', 'Africa'),
 ('GIN', 'Guinea', 'Africa'),
 ('GMB', 'Gambia', 'Africa'),
 ('GNB', 'Guinea-Bissau', 'Africa'),
 ('GNQ', 'Equatorial Guinea', 'Africa'),
 ('GRC', 'Greece', 'Europe'),
 ('GRD', 'Grenada', 'North America'),
 ('GTM', 'Guatemala', 'North America'),
 ('GUY', 'Guyana', 'South America'),
 ('HND', 'Honduras', 'North America'),
 ('HRV', 'Croatia', 'Europe'),
 ('HTI', 'Haiti', 'North America'),
 ('HUN', 'Hungary', 'Europe'),
 ('IDN', 'Indonesia', 'Asia'),
 ('IND', 'India', 'Asia'),
 ('IRL', 'Ireland', 'Europe'),
 ('IRN', 'Iran, Islamic Republic of', 'Asia'),
 ('IRQ', 'Iraq', 'Asia'),
 ('ISL', 'Iceland', 'Europe'),
 ('ISR', 'Israel', 'Asia'),
 ('ITA', 'Italy', 'Europe'),
 ('JAM', 'Jamaica', 'North America'),
 ('JOR', 'Jordan', 'Asia'),
 ('JPN', 'Japan', 'Asia'),
 ('KAZ', 'Kazakhstan', 'Asia'),
 ('KEN', 'Kenya', 'Africa'),
 ('KGZ', 'Kyrgyzstan', 'Asia'),
 ('KHM', 'Cambodia', 'Asia'),
 ('KIR', 'Kiribati', 'Oceania'),
 ('KNA', 'Saint Kitts and Nevis', 'North America'),
 ('KOR', 'Korea, Republic of', 'Asia'),
 ('KWT', 'Kuwait', 'Asia'),
 ('LAO', "Lao People's Democratic Republic", 'Asia'),
 ('LBN', 'Lebanon', 'Asia'),
 ('LBR', 'Liberia', 'Africa'),
 ('LBY', 'Libya', 'Africa'),
 ('LCA', 'Saint Lucia', 'North America'),
 ('LIE', 'Liechtenstein', 'Europe'),
 ('LKA', 'Sri Lanka', 'Asia'),
 ('LSO', 'Lesotho', 'Africa'),
 ('LTU', 'Lithuania', 'Europe'),
 ('LUX', 'Luxembourg', 'Europe'),
 ('LVA', 'Latvia', 'Europe'),
 ('MAR', 'Morocco', 'Africa'),
 ('MCO', 'Monaco', 'Europe'),
 ('MDA', 'Moldova, Republic of', 'Europe'),
 ('MDG', 'Madagascar', 'Africa'),
 ('MDV', 'Maldives', 'Asia'),
 ('MEX', 'Mexico', 'North America'),
 ('MHL', 'Marshall Islands', 'Oceania'),
 ('MKD', 'North Macedonia', 'Europe'),
 ('MLI', 'Mali', 'Africa'),
 ('MLT', 'Malta', 'Europe'),
 ('MMR', 'Myanmar', 'Asia'),
 ('MNE', 'Montenegro', 'Europe'),
 ('MNG', 'Mongolia', 'Asia'),
 ('MOZ', 'Mozambique', 'Africa'),
 ('MRT', 'Mauritania', 'Africa'),
 ('MUS', 'Mauritius', 'Africa'),
 ('MWI', 'Malawi', 'Africa'),
 ('MYS', 'Malaysia', 'Asia'),
 ('NAM', 'Namibia', 'Africa'),
 ('NER', 'Niger', 'Africa'),
 ('NGA', 'Nigeria', 'Africa'),
 ('NIC', 'Nicaragua', 'North America'),
 ('NLD', 'Netherlands', 'Europe'),
 ('NOR', 'Norway', 'Europe'),
 ('NPL', 'Nepal', 'Asia'),
 ('NRU', 'Nauru', 'Oceania'),
 ('NZL', 'New Zealand', 'Oceania'),
 ('OMN', 'Oman', 'Asia'),
 ('PAK', 'Pakistan', 'Asia'),
 ('PAN', 'Panama', 'North America'),
 ('PER', 'Peru', 'South America'),
 ('PHL', 'Philippines', 'Asia'),
 ('PLW', 'Palau', 'Oceania'),
 ('PNG', 'Papua New Guinea', 'Oceania'),
 ('POL', 'Poland', 'Europe'),
 ('PRK', "Korea, Democratic People's Republic of", 'Asia'),
 ('PRT', 'Portugal', 'Europe'),
 ('PRY', 'Paraguay', 'South America'),
 ('PSE', 'Palestine, State of', 'Asia'),
 ('QAT', 'Qatar', 'Asia'),
 ('ROU', 'Romania', 'Europe'),
 ('RUS', 'Russian Federation', 'Europe'),
 ('RWA', 'Rwanda', 'Africa'),
 ('SAU', 'Saudi Arabia', 'Asia'),
 ('SDN', 'Sudan', 'Africa'),
 ('SEN', 'Senegal', 'Africa'),
 ('SGP', 'Singapore', 'Asia'),
 ('SLB', 'Solomon Islands', 'Oceania'),
 ('SLE', 'Sierra Leone', 'Africa'),
 ('SLV', 'El Salvador', 'North America'),
 ('SOM', 'Somalia', 'Africa'),
 ('SRB', 'Serbia', 'Europe'),
 ('SSD', 'South Sudan', 'Africa'),
 ('STP', 'Sao Tome and Principe', 'Africa'),
 ('SUR', 'Suriname', 'South America'),
 ('SVK', 'Slovakia', 'Europe'),
 ('SVN', 'Slovenia', 'Europe'),
 ('SWE', 'Sweden', 'Europe'),
 ('SWZ', 'Eswatini', 'Africa'),
 ('SYC', 'Seychelles', 'Asia'),
 ('SYR', 'Syrian Arab Republic', 'Asia'),
 ('TCD', 'Chad', 'Africa'),
 ('TGO', 'Togo', 'Africa'),
 ('THA', 'Thailand', 'Asia'),
 ('TJK', 'Tajikistan', 'Asia'),
 ('TKM', 'Turkmenistan', 'Asia'),
 ('TLS', 'Timor-Leste', 'Asia'),
 ('TON', 'Tonga', 'Oceania'),
 ('TTO', 'Trinidad and Tobago', 'North America'),
 ('TUN', 'Tunisia', 'Africa'),
 ('TUR', 'Turkey', 'Asia'),
 ('TUV', 'Tuvalu', 'Oceania'),
 ('TWN', 'Taiwan, Province of China', 'Asia'),
 ('TZA', 'Tanzania, United Republic of', 'Africa'),
 ('UGA', 'Uganda', 'Africa'),
 ('UKR', 'Ukraine', 'Europe'),
 ('URY', 'Uruguay', 'South America'),
 ('USA', 'United States', 'North America'),
 ('UZB', 'Uzbekistan', 'Asia'),
 ('VCT', 'Saint Vincent and the Grenadines', 'North America'),
 ('VEN', 'Venezuela, Bolivarian Republic of', 'South America'),
 ('VNM', 'Viet Nam', 'Asia'),
 ('VUT', 'Vanuatu', 'Oceania'),
 ('WSM', 'Samoa', 'Oceania'),
 ('YEM', 'Yemen', 'Asia'),
 ('ZAF', 'South Africa', 'Africa'),
 ('ZMB', 'Zambia', 'Africa'),
 ('ZWE', 'Zimbabwe', 'Africa'),
 ('XK ', 'Kosovo', 'Europe')]

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (1, 2)
    except AssertionError:
        assert False, "The results should have two columns and a single row."
def test_colnames():
    try:
        assert results.columns.tolist() == ['min', 'max']
    except AssertionError:
        assert False, "The results should have columns named `'min` and `'max'`."
def test_min_year_founded():
    try:
        assert results.loc[0, 'min'] == 578
    except AssertionError:
        assert False, "The oldest year founded is incorrect."
def test_max_year_founded():
    try:
        assert results.loc[0, 'max'] == 1999 
    except AssertionError:
        assert False, "The newest year founded is incorrect."

## 2. How many businesses were founded before 1000?
<p>Wow! That's a lot of variation between countries. In one country, the oldest business was only founded in 1999. By contrast, the oldest business in the world was founded back in 578. That's pretty incredible that a business has survived for more than a millennium.</p>
<p>I wonder how many other businesses there are like that.</p>

In [0]:
%%sql

-- Get the count of rows in businesses where the founding year was before 1000
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (1, 1)
    except AssertionError:
        assert False, "The results should have a single column and a single row."
def test_colnames():
    try:
        assert results.columns.tolist() == ['count']
    except AssertionError:
        assert False, "The results should have a column named `'count`."
def test_count():
    try:
        assert last_output.DataFrame().loc[0, 'count'] == 6
    except AssertionError:
        assert False, "The count of businesses founded before 1000 is incorrect."

## 3. Which businesses were founded before 1000?
<p>Having a count is all very well, but I'd like more detail. Which businesses have been around for more than a millennium?</p>

In [0]:
%%sql

-- Select all columns from businesses where the founding year was before 1000
-- Arrange the results from oldest to newest
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (6, 4)
    except AssertionError:
        assert False, "The results should have four columns and six rows."
def test_colnames():
    try:
        assert results.columns.tolist() == ['business', 'year_founded', 'category_code', 'country_code']
    except AssertionError:
        assert False, "The results should have the four columns from the `businesses` table."
def test_where_year_founded_lt_1000():
    try:
        assert results.loc[:, 'year_founded'].max() < 1000 
    except AssertionError:
        assert False, "The most recent year founded is not before 1000."
def test_ordered_by_year_founded():
    try:
        assert results.loc[:, 'year_founded'].is_monotonic 
    except AssertionError:
        assert False, "The rows are not ordered by increasing year founded."

## 4. Exploring the categories
<p>Now we know that the oldest, continuously operating company in the world is called Kongō Gumi. But was does that company do? The category codes in the <code>businesses</code> table aren't very helpful: the descriptions of the categories are stored in the <code>categories</code> table.</p>
<p>This is a common problem: for data storage, it's better to keep different types of data in different tables, but for analysis, you want all the data in one place. To solve this, you'll have to join the two tables together.</p>

In [0]:
%%sql

-- Select business name, founding year, and country code from businesses; and category from categories
-- where the founding year was before 1000, arranged from oldest to newest
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (6, 4)
    except AssertionError:
        assert False, "The results should have four columns and six rows."
def test_colnames():
    try:
        assert results.columns.tolist() == ['business', 'year_founded', 'country_code', 'category']
    except AssertionError:
        assert False, "The results should have business, year founded, and country code columns from the `businesses` table and category from the `categories` table."
def test_where_year_founded_lt_1000():
    try:
        assert results.loc[:, 'year_founded'].max() < 1000 
    except AssertionError:
        assert False, "The most recent year founded is not before 1000."
def test_ordered_by_year_founded():
    try:
        assert results.loc[:, 'year_founded'].is_monotonic 
    except AssertionError:
        assert False, "The rows are not ordered by increasing year founded."

## 5. Counting the categories
<p>With that extra detail about the oldest businesses, we can see that Kongō Gumi is a construction company. In that list of six businesses, we also see a café, a winery, and a bar. The two companies recorded as "Manufacturing and Production" are both mints. That is, they produce currency.</p>
<p>I'm curious as to what other industries constitute the oldest companies around the world, and which industries are most common.</p>

In [0]:
%%sql

-- Select the category and count of category (as "n")
-- arranged by descending count, limited to 10 most common categories
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (10, 2)
    except AssertionError:
        assert False, "The results should have two columns and ten rows."
def test_colnames():
    try:
        assert results.columns.tolist() == ['category', 'n']
    except AssertionError:
        assert False, "The results should have a category column and a count column named `'n'`."
def test_ordered_by_desc_n():
    try:
        assert results.loc[:, 'n'].is_monotonic_decreasing
    except AssertionError:
        assert False, "The rows are not ordered by descending count."
def test_count():
    try:
        assert results.loc[:, 'n'].values.tolist() == [37, 22, 19, 16, 15, 7, 6, 6, 6, 4]
    except AssertionError:
        assert False, "The category counts are not correct."

## 6. Oldest business by continent
<p>It looks like "Banking &amp; Finance" is the most popular category. Maybe that's where you should aim if you want to start a thousand-year business.</p>
<p>One thing we haven't looked at yet is where in the world these really old businesses are. To answer these questions, we'll need to join the <code>businesses</code> table to the <code>countries</code> table. Let's start by asking how old the oldest business is on each continent.</p>

In [0]:
%%sql

-- Select the oldest founding year (as "oldest") from businesses, 
-- and continent from countries
-- for each continent, ordered from oldest to newest 
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (6, 2)
    except AssertionError:
        assert False, "The results should have two columns and six rows."
def test_colnames():
    try:
        assert results.columns.tolist() == ['oldest', 'continent']
    except AssertionError:
        assert False, "The results should have columns named oldest, and continent."
def test_ordered_by_min_year_founded():
    try:
        assert results.loc[:, 'oldest'].is_monotonic 
    except AssertionError:
        assert False, "The rows are not ordered by year founded."
def test_count():
    try:
        assert results.loc[:, 'oldest'].values.tolist() == [578, 803, 1534, 1565, 1772, 1809]
    except AssertionError:
        assert False, "The year founded values are not correct."

## 7. Joining everything for further analysis
<p>Interesting. There's a jump in time from the older businesses in Asia and Europe to the 16th Century oldest businesses in North and South America, then to the 18th and 19th Century oldest businesses in Africa and Oceania. </p>
<p>As mentioned earlier, when analyzing data it's often really helpful to have all the tables you want access to joined together into a single set of results that can be analyzed further. Here, that means we need to join all three tables.</p>

In [0]:
%%sql

-- Select the business, founding year, category, country, and continent
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (163, 5)
    except AssertionError:
        assert False, "The results should have five columns and one hundred and sixty three rows."
def test_colnames():
    try:
        assert results.columns.tolist() == ['business', 'year_founded', 'category', 'country', 'continent']
    except AssertionError:
        assert False, "The results should have columns named business, year_founded, category, country, and continent."

## 8. Counting categories by continent
<p>Having <code>businesses</code> joined to <code>categories</code> and <code>countries</code> together means we can ask questions about both these things together. For example, which are the most common categories for the oldest businesses on each continent?</p>

In [0]:
%%sql

-- Count the number of businesses in each continent and category
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (56, 3)
    except AssertionError:
        assert False, "The results should have three columns and fifty six rows."
def test_colnames():
    try:
        assert results.columns.tolist() == ['continent', 'category', 'n']
    except AssertionError:
        assert False, "The results should have continent, category, and count (as 'n')."
def test_count():
    try:
        assert results.loc[:, 'n'].sort_values(ascending=False).values.tolist() == [17, 12, 10, 9, 8, 7, 6, 5, 5, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
    except AssertionError:
        assert False, "The counts are not correct."

## 9. Filtering counts by continent and category
<p>Combining continent and business category led to a lot of results. It's difficult to see what is important. To trim this down to a manageable size, let's restrict the results to only continent/category pairs with a high count.</p>

In [0]:
%%sql

-- Repeat that previous query, filtering for results having a count greater than 5
...

In [0]:
%%nose
last_output = _

def test_resultset():
    try:
        assert str(type(last_output)) == "<class 'sql.run.ResultSet'>"
    except AssertionError:
        assert False, "Please ensure a SQL ResultSet is the output of the code cell." 
results = last_output.DataFrame()
def test_shape():
    try:
        assert results.shape == (7, 3)
    except AssertionError:
        assert False, "The results should have three columns and seven rows."
def test_colnames():
    try:
        assert results.columns.tolist() == ['continent', 'category', 'n']
    except AssertionError:
        assert False, "The results should have continent, category, and count (as 'n')."
def test_count():
    try:
        assert results.loc[:, 'n'].values.tolist() == [17, 12, 10, 9, 8, 7, 6]
    except AssertionError:
        assert False, "The counts are not correct."